{% extends "layout.html" %}


{% block heading %}
    <header>
      <h1>{{page.title|default("Page '" + page.url_name + "'")}}</h1>
      {% for tag in tags %}
        <a href = "/search/{{tag}}"> {{tag}} </a>
        {% endfor %}
    </header>
{% endblock %}
{% block content %}
  <p> {{page.content | marked}} </p>
{% endblock %}
{% block footing %}
    <footer>
      <a href = "/wiki/{{page.url_name}}/similarPages"><button type = "button" class = "btn btn-default">Find Similar</button>
      </a>
      <label>WikiStack, Fullstack Academy</label>
    </footer>
{% endblock %}